/*layout2.html*/
@font-face {
    font-family: "GMarket-Bold";
    src: url("../Font/static/GmarketSansBold.woff");
}
@font-face {
    font-family: "GMarket-Medium";
    src: url("../Font/static/GmarketSansMedium.woff");
}
@font-face {
    font-family: "GMarket-Light";
    src: url("../Font/static/GmarketSansLight.woff");
}
/*개발 시작 전에 div에 border-box주고 시작해도 가능
body에도 margin 0px 주면 나중에 편함 */
div{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: "GMarket-Light";
    background-color: blue;
    width:100%;
    height: 100vh;

    display:grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;

}

/*margin*/





/**/
/*nav*/
/**/
.nav{

    /*grid*/
    grid-column: 1 / span 2;;
    grid-row: 1;

    background-color: blue;
    color:#808080;
    width:100%;
    height:70px;
    position: relative;
    z-index: 1;
    overflow: hidden;


    display:grid;
    grid-template-columns: 4fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    grid-template-areas: search empty bell mail;
}

%nav-item-margin{
    margin-top:20px;
}

.nav-empty{
    width:50%;
    grid-area: empty;

}

.nav-icon-bell{
    grid-area: bell;
    width:5%;
    @extend %nav-item-margin;
}
.nav-icon-mail{
    width:5%;
    grid-area: mail;
    @extend %nav-item-margin;

}

.nav-name{

    width:5%;
    grid-area: name;
    @extend %nav-item-margin;

}

/*nav-search*/
.nav-search{
    grid-area: search;
    margin-top:15px;
    margin-left: 100px;
    width:15%;
    height:50%;
    display:flex;
}

.nav-search:hover{
    width:350px;
    transition: 1s;
}

.search {
    width: 100%;
    
    display: flex;
}

.searchTerm{
    width:100%;
    border: 1px solid #343A40;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size:small;
}




.searchTerm:focus{
    color: #343A40;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #343A40;
    background: #343A40;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
  }




/**/
/*side-menu*/
/**/
.side-menu{

    /*grid*/

    /*grid*/
    grid-column: 1;
    grid-row: 2;

    background-color: #494CB4;
    color:white;
    width:55px;
    height:100%;
    z-index: 2;
    position: absolute;

    padding:20px;
    a{
        position:absolute;
        font-size:small;
        font-family: "GMarket-Light";
        padding:10px;
        transform: translate(-150px, 0px); 
    }


}

.side-menu::after{
    clear:both;
}
.side-menu:hover{
    animation-name: ani-sidemenu;
    animation-duration: 2s;
    a{
        transition: transform 2s;
        transform: translate(0px, 0px); 
    }

}

/**/
/*main-content*/
/**/
.main-content{
    grid-column: 2;
    grid-row: 2;
    background-color: green;
}

/**/
/*animation*/
/**/

@keyframes ani-sidemenu{
    0%{
        width:55px;


    }
    100%{
        width:200px;


    }
}