@charset "UTF-8";
/*layout2.html*/
@font-face {
  font-family: "GMarket-Bold";
  src: url("../Font/static/GmarketSansBold.woff");
}
@font-face {
  font-family: "GMarket-Medium";
  src: url("../Font/static/GmarketSansMedium.woff");
}
@font-face {
  font-family: "GMarket-Light";
  src: url("../Font/static/GmarketSansLight.woff");
}
/*개발 시작 전에 div에 border-box주고 시작해도 가능
body에도 margin 0px 주면 나중에 편함 */
div {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "GMarket-Light";
  background-color: blue;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 1fr;
}

/*margin*/
/**/
/*nav*/
/**/
.nav {
  /*grid*/
  grid-column: 1/span 2;
  grid-row: 1;
  background-color: white;
  color: #808080;
  width: 100%;
  height: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr 1fr;
  grid-template-rows: 70px;
  grid-template-areas: search empty bell mail;
  /*shadow*/
  box-shadow: 0 4px 4px -4px #808080;
}

.nav-name, .nav-icon-mail, .nav-icon-bell {
  margin-top: 20px;
  text-align: center;
}

.nav-empty {
  width: 60%;
  grid-area: empty;
}

.nav-icon-bell {
  grid-area: bell;
  width: 5%;
}

.nav-icon-mail {
  width: 5%;
  grid-area: mail;
}

.nav-name {
  width: 5%;
  grid-area: name;
}

.nav-menu {
  display: none;
}

/*nav-search*/
.nav-search {
  grid-area: search;
  margin-top: 15px;
  margin-left: 70px;
  width: 15%;
  height: 50%;
  display: flex;
}

.nav-search:hover {
  width: 350px;
  transition: 1s;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 0.5px solid #EAECEF;
  border-right: none;
  padding: 5px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: small;
}

.searchTerm:focus {
  color: #343A40;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #343A40;
  background: #343A40;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

/**/
/*side-menu*/
/**/
.side-menu {
  /*grid*/
  /*grid*/
  grid-column: 1;
  grid-row: 2;
  background-color: #494CB4;
  color: white;
  padding: 20px;
  width: 55px;
  height: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.side-menu a {
  position: absolute;
  font-size: small;
  font-family: "GMarket-Light";
  padding: 10px;
  transform: translate(-150px, 0px);
}

.side-menu::after {
  clear: both;
}

.side-menu:hover {
  animation-name: ani-sidemenu;
  animation-duration: 2s;
}
.side-menu:hover a {
  transition: transform 2s;
  transform: translate(0px, 0px);
}

/**/
/*main-content*/
/**/
.main-content {
  grid-column: 2;
  grid-row: 2;
  background-color: green;
  color: #212529;
  padding-top: 40px;
  padding-left: 20px;
  overflow-y: auto; /*main-content에 내용 추가되고 화면 넘어가면 스크롤로 넘어가게*/
}
.main-content h3 {
  margin-left: 10px;
  margin-bottom: 20px;
}

/**/
/*main-content
  card part*/
.dashboard-card {
  background-color: white;
  width: 95%;
  max-width: 95%;
  overflow: hidden;
  margin: 10px;
  padding: 30px;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
.dashboard-card p {
  margin-bottom: 10px;
}

.card-left {
  float: left;
}

.card-right {
  font-size: 35px;
  float: right;
  padding: 10px;
  color: #808080;
}

.card-skyblue {
  border-left: solid 5px #87CEEB;
}

.card-green {
  border-left: solid 5px #3FC95A;
}

.card-purple {
  border-left: solid 5px #494CB4;
}

.card-yellow {
  border-left: solid 5px #FFCB55;
}

.main-content::after {
  clear: both;
  float: over;
}

.tasks-content, .earning-overview-contetnt {
  background-color: white;
  width: 95%;
  max-width: 95%;
  border-radius: 7px;
  margin: 10px;
  margin-top: 20px;
}

/**/
/*Earning Overview*/
/**/
.sub-title {
  border: light 2px black;
  border-radius: 5px;
  background-color: #FAFAFA;
  padding: 15px;
  padding-left: 30px;
  margin-bottom: 0;
}

/**/
/*Tasks Content*/
/**/
.tasks-content {
  border: 1px solid #ddd;
}
.tasks-content p {
  padding: 10px;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  font-size: small;
}

.badge {
  float: right;
  background-color: #007BFF;
  margin-right: 15px;
}

.badge::after {
  clear: both;
}

/**/
/*animation*/
/**/
@keyframes ani-sidemenu {
  0% {
    width: 55px;
  }
  100% {
    width: 200px;
  }
}
/*media-query*/
@media screen and (max-width: 768px) {
  .nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    grid-template-columns: 1fr;
    grid-template-areas: "nav-menu";
  }
  .nav-search,
  .nav-icon-bell,
  .nav-icon-mail,
  .nav-name {
    display: none;
  }
  .nav-menu {
    grid-area: nav-menu;
    display: block;
    color: #343A40;
    font-size: large;
    width: 30px;
    text-align: center;
    padding: 10px;
    margin-right: 25px;
  }
  .nav-menu-i {
    font-size: large;
    border: 0.5px solid #EAECEF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
  }
}/*# sourceMappingURL=admin-page.css.map */